<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {padding: 50px;font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
    </style>
  </head>
  <link rel="stylesheet" href="../public/css/common.css">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/font-awesome.min.css">
  <script src="../public/js/jquery-2.2.3.min.js"></script>
  <script src="../public/js/home.js"></script>
  <title>
    Home
  </title>
  <body>
      <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="#">菜鸟教程</a>
          </div>
          <div>
              <ul class="nav navbar-nav">
                  <li class="active"><a href="#">iOS</a></li>
                  <li><a href="#">SVN</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">                          Java
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="#">jmeter</a></li>
                          <li><a href="#">EJB</a></li>
                          <li><a href="#">Jasper Report</a></li>
                          <li class="divider"></li>
                          <li><a href="#">分离的链接</a></li>
                          <li class="divider"></li>
                          <li><a href="#">另一个分离的链接</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
          </div>
      </nav>
  </body>
</html>